### Tanks 4.09d Vertical Fixed Roof Tank Calculations

In [1]:
import math
import pandas as pd
import numpy as np
from tanks_helper import *

df_chem = pd.read_csv('chemical_db.csv')
df_met = pd.read_csv('met_db.csv')
df_shade = pd.read_csv('table-7-1-6-solarabs.csv')

In [2]:
INPUT_CITY = 'Denver, Colorado'                     # From User Data
INPUT_TANK = [12, 8, 6]                             # tkshellht, skliqht, diameter
INPUT_CONTENTS = [8450, 'other stocks', 11.5, 4.5]  # throughput, productfactor, hlx, hln
CHEM_LIST = ['Cyclohexane', 'Benzene', 'Toluene']   # From User Data
ANNUAL_QUANTITY = [101, 2812, 258]                  # From User Data
DEFAULT_LIST = [0.0625, 1491, 1]                    # tkrfslope, ins, ventsetting
CONDITION_LIST = ['White', 'None', 'Aged']          # color, shade, condition

name_ = np.array([df_chem[df_chem['NAME'].isin(CHEM_LIST)]['NAME'].tolist()])
cas_ = np.array([df_chem[df_chem['NAME'].isin(CHEM_LIST)]['CAS'].tolist()])
mw_ = np.array([df_chem[df_chem['NAME'].isin(CHEM_LIST)]['MOLWT'].tolist()])
vp_a = np.array([df_chem[df_chem['NAME'].isin(CHEM_LIST)]['VP_COEF_A'].tolist()])
vp_b = np.array([df_chem[df_chem['NAME'].isin(CHEM_LIST)]['VP_COEF_B'].tolist()])
vp_c = np.array([df_chem[df_chem['NAME'].isin(CHEM_LIST)]['VP_COEF_C'].tolist()])
arr = np.concatenate((name_, cas_, mw_, vp_a, vp_b, vp_c), axis=0).T

df3 = pd.DataFrame(data=arr, columns=['component',
                                      'cas_no',
                                      'mw',
                                      'antoine_coef_a',
                                      'antoine_coef_b',
                                      'antoine_coef_c'])
df3

,component,cas_no,mw,antoine_coef_a,antoine_coef_b,antoine_coef_c
0,Benzene,00071-43-2,78.11,6.905,1211.033,220.79
1,Cyclohexane,00110-82-7,84.15999999999998,6.841,1201.53,222.65
2,Toluene,00108-88-3,92.13,6.954,1344.8,219.48

In [3]:
df2 = pd.DataFrame({'component': CHEM_LIST, 'comp_amt': ANNUAL_QUANTITY})
df2

     component  comp_amt
0  Cyclohexane       101
1      Benzene      2812
2      Toluene       258

In [4]:
#df2.join(df3, lsuffix='component', rsuffix='component', how='left')

pd.merge(df2, df3, on='component', how='inner')

,component,comp_amt,cas_no,mw,antoine_coef_a,antoine_coef_b,antoine_coef_c
0,Cyclohexane,101,00110-82-7,84.15999999999998,6.841,1201.53,222.65
1,Benzene,2812,00071-43-2,78.11,6.905,1211.033,220.79
2,Toluene,258,00108-88-3,92.13,6.954,1344.8,219.48

In [1]:
import requests as r

POST_JSON = {
    'input_city': 'Cape Hatteras, North Carolina',
    'input_tank': [12, 8, 6],
    'input_contents': [8450, 'other stocks', 11.5, 4.5],
    'input_chem': ['Cyclohexane', 'Benzene', 'Toluene'],
    'input_qty': [101, 2812, 258],
    'input_default': [0.0625, 1491, 1],
    'input_condition': ['White', 'None', 'Average']
}

r.post('http://127.0.0.1:5000/api/vfrtk', json=POST_JSON)